#contact {
    li {
        width: 40px;
        height: 46px;
    }
    svg {
        width: 20px;
        height: 20px;
    }
}
#home {
    @include desktop {
        #contact {
            position: fixed;
            bottom: 0px;
            left: 40px;
            bottom: 50px;
            right: auto;
            z-index: 10;
            width: 40px;
            ul {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
    }

    @include mobile-and-tablet {
        #contact {
            display: none;
        }
    }
}
