#navigation-wrapper {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: $fontMono;

    .navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 50px;

        svg {
            fill: $lightGrey;
        }
    }

    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px;
        margin: 0px;

        li {
            margin: 0 5px;
            counter-increment: item 1;

            &::before {
                content: "0" counter(item) ".";
                margin-right: 5px;
                color: $lightOrange;
            }
        }
    }
}
