#navigation-wrapper {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: $fontMono;
    transition: all 0.2s ease-in-out;
    z-index: 10;
    margin-bottom: 100px;

    .navigation {
        display: flex;
        justify-content: end;
        align-items: center;
        padding: 0 50px;

        svg {
            fill: var(--main-color);
        }
    }

    .menu {
        ol {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0px;
            margin: 0px;
        }

        li {
            margin-right: 15px;
            counter-increment: item 1;

            &::before {
                content: "0" counter(item) ".";
                margin-right: 5px;
                color: var(--main-color);
            }
        }
    }

    @include desktop {
        .hamburger-react {
            display: none;
        }
    }

    @include mobile-and-tablet {
        .menu {
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: absolute;
            right: -500px;
            width: 400px;
            height: 100vh;
            top: 0;
            bottom: 0;
            padding: 50px 10px;
            background-color: #112240;
            z-index: 10;
            transition: all 0.3s ease-in-out;
            ol {
                height: 500px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            }
        }
        .hamburger-react {
            z-index: 10;
        }
        .menu.active {
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: absolute;
            right: 0;
            width: 400px;
            height: 100vh;
            top: 0;
            bottom: 0;
            padding: 50px 10px;
            background-color: #112240;
            z-index: 10;

            ol {
                height: 500px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            }
        }
    }
}

.nav-scrolled {
    background-color: rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 30px -10px var(--main-shadow);
}
