#skills {
    max-width: 900px;

    .numbered-heading {
        justify-content: flex-end;
    }

    .card {
        padding: 30px;
        background-image: $blackLinearBG;

        transition: all 0.3s ease-in-out;
        & > div {
            margin-bottom: 10px;
        }
        &:hover {
            transform: translateY(-10px);
        }

        a {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                margin-right: 5px;
            }
        }
    }
}

@include desktop {
    #skills {
        .cards {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 10px;
            grid-template-areas:
                "a b b c"
                "a d e f"
                "a g h f"
                "i i h f";

            .card {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: flex-start;

                &:nth-child(1) {
                    grid-area: a;
                }
                &:nth-child(2) {
                    flex-direction: row;
                    flex-wrap: wrap;
                    grid-area: b;
                }
                &:nth-child(3) {
                    grid-area: c;
                }
                &:nth-child(4) {
                    grid-area: d;
                }
                &:nth-child(5) {
                    grid-area: h;
                }
                &:nth-child(6) {
                    grid-area: f;
                }
                &:nth-child(7) {
                    grid-area: g;
                }
                &:nth-child(8) {
                    grid-area: e;
                }
                &:nth-child(9) {
                    flex-direction: row;
                    flex-wrap: wrap;
                    grid-area: i;
                }
            }
        }
        img {
            width: 30px;
            height: 30px;
        }
    }
}

@include tablet {
    #skills {
        @include skill-card;
    }
}

@include mobile {
    #skills {
        .cards {
            @include skill-card;
        }
    }
}

@include mobile-and-tablet {
    #skills {
        img {
            width: 20px;
            height: 20px;
        }

        a {
            font-size: 12px;
        }
    }
}
