$mainColor: #86bafd;
$mainTint: #86bafd2d;
$mainShadow: #86bafdd4;
$smoothWhite: #eeeeee;
$lightGrey: #b7bdd1;

$breakpoint-mobile: 335px;
$breakpoint-tablet: 758px;
$breakpoint-desktop: 1024px;

$fontCalibre: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
$fontMono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
$blackLinearBG: linear-gradient(180deg, #000, #1f1f1f), linear-gradient(180deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
$blackLinearBGReverse: linear-gradient(180deg, #1f1f1f, #000), linear-gradient(180deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
