@import "./variables";
@import "./mixin";
@import "./components/main.scss";
@import "./components/navigation.scss";
@import "./components/home.scss";
@import "./components/contact.scss";
@import "./components/about.scss";
@import "./components/skills.scss";
@import "./components/projects.scss";
@import "./components/experiences.scss";
@import "./components/testimonials.scss";
@import "./components/footer.scss";
@import "./components/ThemeButton.scss";

* {
    box-sizing: inherit;
}

body {
    margin: 0px;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    background-color: #000;
    font-family: $fontCalibre;
    line-height: 1.3;
    color: $lightGrey;
}

section {
    padding: 0px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: $lightGrey;
    &:hover {
        color: var(--main-color);
        transition: all 0.2s ease-in-out;
    }
}
button {
    outline: none;
    background: transparent;
    border: 0;
    cursor: pointer;
    color: $lightGrey;

    &:hover {
        color: var(--main-color);
        transition: all 0.2s ease-in-out;
    }
}

.numbered-heading {
    font-weight: 500;
    display: flex !important;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin: 10px 0px 40px;
    width: 100%;
    font-size: clamp(26px, 5vw, 32px);
    white-space: nowrap;

    &::before {
        counter-increment: section 1;
        content: "0" counter(section) ".";
        position: relative;
        bottom: 4px;
        margin-right: 10px;
        color: var(--main-color);
        font-family: $fontMono;
        font-size: clamp(16px, 3vw, 32px);
        font-weight: 400;
    }

    &::after {
        content: "";
        display: block;
        position: relative;
        top: -5px;
        width: 300px;
        height: 1px;
        margin-left: 20px;
        background-color: $lightGrey;
        margin-top: 15px;
    }
}

li {
    list-style: none;
}

#home {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

@include desktop {
    #about,
    #skills,
    #projects,
    #experiences,
    #testimonials {
        padding: 100px 0;
    }
}

@include mobile-and-tablet {
    #home {
        height: 100vh;
        padding: 0px;
    }
    #about,
    #skills,
    #projects,
    #experiences,
    #testimonials {
        padding: 90px 0;
    }
}
